<table>
  <thead>
    <tr>
      {{table-th current_sort=sort_by name="Dimension" sort_by="default" sort_data=(action 'sort_data')}}
      {{table-th current_sort=sort_by name="Boards" sort_by="boards" sort_data=(action 'sort_data')}}
      {{table-th current_sort=sort_by name="BoardFeet" sort_by="boardfeet" sort_data=(action 'sort_data')}}
      {{#table-th}}{{!fa-icon "cogs"}}
        miska
      {{/table-th}}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>All Dimensions</td>
      <td>{{total_boards}}</td>
      <td>{{format-number total_boardfeet precision=2}}</td>
      <td>{{max_boardfeet}}</td>
    </tr>
    {{#each sorted_model as |row|}}
      <tr class="{{row-class row}}">
        <td>
          {{#link-to "production.dimension" row.DimensionID}}
            {{row.DimensionName.length}}
          {{/link-to}}
        </td>
        <td class="quantity">{{row.boards}}</td>
        <td class="quantity">{{format-number row.boardsfeet precision=2}}</td>
        <td>{{!  <input type="checkbox" disabled={{eq row.boards 0}}> }}

          {{#link-to "production.dimension" row.DimensionID}}
          <button>search</button>
          {{/link-to}}

        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
